body {
background: #333;
color: white;
line-height: 1.6;
height: 100vh;
}

.container {
  width: 100%;
  height: 100%;

}
.navbar{
  position: fixed;
  top: 0;
  z-index: 1;
  display: flex;
  width: 100%;
  height: 60px;
  background: rgba(red, green, blue, alpha);

}
.navbar ul {
  display: flex;
  list-style: none;
  width: 100%;
  justify-content: center;

}
.navbar ul li {
  margin: 0 1em;
  padding: 1em;

}
.navbar ul li a {
  text-decoration: none;
  text-transform: uppercase;
  color: rgb(173, 173, 173);
}

.navbar ul li a:hover{
  color: rgb(54, 172, 132);
}

section{
display: flex;
flex-direction: column;
align-items: center;
justify-content: center;
text-align: center;
width: 100%;
height: 100vh;
}

section h1{
font-size: 4rem;
}
section p {
  font-size: 2rem;
  max-width: 70ch;
}
img {
  display: block;
  max-width: 100%;
  height: auto;
}
section#Home {
flex-direction: row;
}
.row{
  display: flex;
  flex-wrap: wrap;
}
.container-skills{
  margin-top: 40px;
  width: 1400px;
  padding-right: 15px;
  padding-left: 15px;
  margin-right: auto;
  margin-left: auto;
  font-size: 1rem;
  height: 400px;
}
.service-about p {
  color: cadetblue;
}
.card-body p {

}
.contain {
  max-width: 1140px;
}
@media (max-width: 576px){
  section#Home{
    flex-direction: column;}

    ul{
      flex-direction: row;
      font-size: .75rem;
      margin-top: 20px;
    }

    p{
      font-size:.75rem;
    }
    h1{
      font-size: 2rem;
    }
}

